*{
    margin:0;
    padding:0;
    border:0;
}
main,header,footer{
    display: inline-block;
    max-width: 90%;
}
body{
    background-color: rgb(238, 17, 17)!important;
}
article{
    text-align: center;
}